* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #b4cfec;
}

.completed {
    text-decoration: line-through;
}

i {
    color: #b4cfec;
}

input, button {
    font-size: 14px;
}

.input {
    border: none;
    border-bottom: 1px solid #b4cfec;
    background: none;
    height: 30px;
    width: 80%;
    max-width: 300px;
    padding-inline: 10px;
    margin-right: 5px;
    color: #b4cfec;
}

.inputButton {
    border: none;
    background: none;
    transition: transform 0.3s ease;
}

.inputButton:hover {
    transform: scale(1.1);
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#time, .header, .quote{
    align-self: center;
}

#time {
    font-size: 80px;
}

.header {
    font-size: 30px;
}

#name {
    text-align: center;
}

.textBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    width: 100%;
}

.quote {
    padding-top: 30px;
    font-style: italic;
}

#quoteAuthor {
    text-align: end;
    padding-right: 10%;
}

#mission {
    text-indent: 20%;
    margin-top: 10px;
    max-width: 350px;
}

#taskList {
    max-width: 350px;
}

#sub-1, #sub-2 {
    display: grid;
    grid-template-rows: 80% 20%;
}

::placeholder {
    text-align: center;
    color: #b4cfec90;
}

@media only screen and (max-width: 500px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 20% 30% 30% 20%;
        grid-template-rows: 20% 40% 40%;
    }

    #main {
        grid-column: 2/4;
        grid-row: 2;
    }

    #name {
        max-width: 300px;
    }

    #sub-1 {
        grid-column: 2;
        grid-row: 3;
    }

    #sub-2 {
        grid-column: 3;
        grid-row: 3;
    }

    .textBox {
        min-width: 300px;
    }

    #sub-1 .textBox, #sub-2 .textBox {
        margin: 0;
    }
}